In [1]:
import numpy as np
import pandas as pd
import preprocessing as pu
import pickle

In [2]:
df=pd.read_csv('dataset/test.csv')

In [3]:
df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [5]:
def Preprocess_text(df,col,text=True):
    df=pu.DealMissing(df,col)
    df=pu.LowerCase(df,col)
    df=pu.cont2expansion(df,col)
    df=pu.Remove_Emails(df,col)
    df=pu.Remove_urls(df,col)
    df=pu.Remove_rt(df,col)
    df=pu.Remove_SpecialChar(df,col)
    df=pu.Remove_Numeric(df,col)
    df=pu.Remove_ExtraSpaces(df,col)
    df=pu.Remove_HTMLTags(df,col)
    df=pu.Remove_AccentedChar(df,col)
    df=pu.Remove_StopWords(df,col)
    df=pu.Convert2Base(df,col)
    if text:
        df=pu.Remove_MostOccuring(df,col)   #Vary with data
        #df=pu.Remove_RarelyOccuring(df,col)  #Vary with data
        #df=pu.Remove_Blank(df,col)
        print('Main Text')
    return df

In [6]:
df=Preprocess_text(df,col='text')

Main Text

In [7]:
df=Preprocess_text(df,col='keyword',text=False)

In [8]:
df.head()

   id keyword location                                          text
0   0    null      NaN                     happen terrible car crash
1   2    null      NaN      hear earthquake different city stay safe
2   3    null      NaN  forest fire spot pond geese flee street save
3   9    null      NaN             apocalypse light spokane wildfire
4  11    null      NaN            typhoon soudelor kill china taiwan

In [9]:
df['combined']=df['text']+' '+df['keyword']

In [17]:
tfidf=pickle.load(open('Vectorizer_tfidf.pkl', 'rb'))
model_svc=pickle.load(open('model_SVC.pkl', 'rb'))

In [18]:
X=tfidf.transform(df['text'])
X=X.toarray()

### Making prediction

In [19]:
pred=model_svc.predict(X)

In [20]:
len(pred)

3263

In [21]:
final_dict={'id':df.id.values,'target':pred}

In [22]:
final_sub=pd.DataFrame(final_dict)

In [23]:
final_sub.to_csv('Submission_SVC.csv',index=False)