In [52]:
import numpy as np
import pandas as pd
import preprocessing as pu
import pickle

In [53]:
df=pd.read_csv('dataset/test.csv')

In [54]:
df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [56]:
def Preprocess_text(df):
    df=pu.LowerCase(df)
    df=pu.cont2expansion(df)
    df=pu.Remove_Emails(df)
    df=pu.Remove_urls(df)
    df=pu.Remove_rt(df)
    df=pu.Remove_SpecialChar(df)
    df=pu.Remove_Numeric(df)
    df=pu.Remove_ExtraSpaces(df)
    df=pu.Remove_HTMLTags(df)
    df=pu.Remove_AccentedChar(df)
    df=pu.Remove_StopWords(df)
    df=pu.Convert2Base(df)
    df=pu.Remove_MostOccuring(df)   #Vary with data
    #df=pu.Remove_RarelyOccuring(df)  #Vary with data
    #df=pu.Remove_Blank(df)
    return df

In [57]:
df=Preprocess_text(df)

In [58]:
df.head()

   id keyword location                                          text
0   0     NaN      NaN                     happen terrible car crash
1   2     NaN      NaN      hear earthquake different city stay safe
2   3     NaN      NaN  forest fire spot pond geese flee street save
3   9     NaN      NaN             apocalypse light spokane wildfire
4  11     NaN      NaN            typhoon soudelor kill china taiwan

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [60]:
tfidf=pickle.load(open('Vectorizer_tfidf.pkl', 'rb'))
model_svc=pickle.load(open('model_SVC.pkl', 'rb'))

In [61]:
X=tfidf.transform(df['text'])
X=X.toarray()

### Making prediction

In [62]:
pred=model_svc.predict(X)

In [63]:
len(pred)

3263

In [64]:
final_dict={'id':df.id.values,'target':pred}

In [65]:
final_sub=pd.DataFrame(final_dict)

In [68]:
final_sub.to_csv('Submission_SVC.csv',index=False)