In [1]:
import numpy as np
import pandas as pd
import preprocessing as pu
import re

In [2]:
df=pd.read_csv('dataset/train.csv')
df=df.drop('id',axis=1)

In [3]:
df.head()

  keyword location                                               text  target
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
1     NaN      NaN             Forest fire near La Ronge Sask. Canada       1
2     NaN      NaN  All residents asked to 'shelter in place' are ...       1
3     NaN      NaN  13,000 people receive #wildfires evacuation or...       1
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [4]:
def Preprocess_text(df):
    df=pu.LowerCase(df)
    df=pu.cont2expansion(df)
    df=pu.Remove_Emails(df)
    df=pu.Remove_urls(df)
    df=pu.Remove_rt(df)
    df=pu.Remove_SpecialChar(df)
    df=pu.Remove_Numeric(df)
    df=pu.Remove_ExtraSpaces(df)
    df=pu.Remove_HTMLTags(df)
    df=pu.Remove_AccentedChar(df)
    df=pu.Remove_StopWords(df)
    df=pu.Convert2Base(df)
    df=pu.Remove_MostOccuring(df)   #Vary with data
    df=pu.Remove_RarelyOccuring(df)  #Vary with data
    df=pu.Remove_Blank(df)
    return df

In [5]:
df=Preprocess_text(df)

In [6]:
df.head()

  keyword location                                               text  target
0     NaN      NaN               deed reason earthquake allah forgive       1
1     NaN      NaN                         forest fire near la canada       1
2     NaN      NaN  resident ask shelter place officer evacuation ...       1
3     NaN      NaN  people receive wildfire evacuation order calif...       1
4     NaN      NaN   got send photo alaska smoke wildfire pour school       1