In [1]:
import numpy as np
import pandas as pd
import math
from spacy.lang.en.stop_words import STOP_WORDS

In [2]:
df=pd.read_csv('dataset/train.csv')
df=df.drop('id',axis=1)

In [3]:
df.head()

  keyword location                                               text  target
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
1     NaN      NaN             Forest fire near La Ronge Sask. Canada       1
2     NaN      NaN  All residents asked to 'shelter in place' are ...       1
3     NaN      NaN  13,000 people receive #wildfires evacuation or...       1
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  5080 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   int64
dtypes: int64(1), object(3)
memory usage: 238.0+ KB

In [5]:
math.isnan(df['keyword'][0])

True

In [6]:
def nan(x):
    try:
        if math.isnan(x):
            return 'Missing'
    except:
        return x

In [7]:
df['keyword']=df['keyword'].apply(lambda x:nan(x))
df['location']=df['location'].apply(lambda x:nan(x))

In [8]:
df.head()

   keyword location                                               text  target
0  Missing  Missing  Our Deeds are the Reason of this #earthquake M...       1
1  Missing  Missing             Forest fire near La Ronge Sask. Canada       1
2  Missing  Missing  All residents asked to 'shelter in place' are ...       1
3  Missing  Missing  13,000 people receive #wildfires evacuation or...       1
4  Missing  Missing  Just got sent this photo from Ruby #Alaska as ...       1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7613 non-null   object
 1   location  7613 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   int64
dtypes: int64(1), object(3)
memory usage: 238.0+ KB

In [10]:
df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [11]:
def char_count(x):
    s=x.split()
    x=''.join(s)
    return len(x)

In [12]:
df['Word_Count']=df['text'].apply(lambda x:len(x.split()))
df['Character_count']=df['text'].apply(lambda x:char_count(x))

In [13]:
df.head()

,keyword,location,text,target,Word_Count,Character_count
0,Missing,Missing,Our Deeds are the Reason of this #earthquake M...,1,13,57
1,Missing,Missing,Forest fire near La Ronge Sask. Canada,1,7,32
2,Missing,Missing,All residents asked to 'shelter in place' are ...,1,22,112
3,Missing,Missing,"13,000 people receive #wildfires evacuation or...",1,8,57
4,Missing,Missing,Just got sent this photo from Ruby #Alaska as ...,1,16,72

In [14]:
df['StopWord_Count']=df['text'].apply(lambda x:len([t for t in x.split() if t in STOP_WORDS]))

In [15]:
df.head()

,keyword,location,text,target,Word_Count,Character_count,StopWord_Count
0,Missing,Missing,Our Deeds are the Reason of this #earthquake M...,1,13,57,6
1,Missing,Missing,Forest fire near La Ronge Sask. Canada,1,7,32,0
2,Missing,Missing,All residents asked to 'shelter in place' are ...,1,22,112,9
3,Missing,Missing,"13,000 people receive #wildfires evacuation or...",1,8,57,1
4,Missing,Missing,Just got sent this photo from Ruby #Alaska as ...,1,16,72,6

In [16]:
df['Mention_count']=df['text'].apply(lambda x:len([t for t in x.split() if t.startswith('@')]))
df['Hashtag_count']=df['text'].apply(lambda x:len([t for t in x.split() if t.startswith('#')]))

In [17]:
df['Numerics_Count']=df['text'].apply(lambda x:len([t for t in x.split() if t.isdigit()]))

In [18]:
df['Upper_Count']=df['text'].apply(lambda x:len([t for t in x.split() if t.isupper()]))

In [19]:
df.head()

,keyword,location,text,target,Word_Count,Character_count,StopWord_Count,Mention_count,Hashtag_count,Numerics_Count,Upper_Count
0,Missing,Missing,Our Deeds are the Reason of this #earthquake M...,1,13,57,6,0,1,0,1
1,Missing,Missing,Forest fire near La Ronge Sask. Canada,1,7,32,0,0,0,0,0
2,Missing,Missing,All residents asked to 'shelter in place' are ...,1,22,112,9,0,0,0,0
3,Missing,Missing,"13,000 people receive #wildfires evacuation or...",1,8,57,1,0,1,0,0
4,Missing,Missing,Just got sent this photo from Ruby #Alaska as ...,1,16,72,6,0,2,0,0

# Clearning and preprocessing the data

In [20]:
## LowerCase Conversion

df['text']=df['text'].apply(lambda x:str(x).lower())

In [21]:
#contraction to expansion  (I'll: I Will)
import contractions

In [22]:
test="I don't go to won't the market"

In [23]:
def Cont2Exp(x):
    if type(x) is str:
        a=[]
        for word in x.split():
            a.append(contractions.fix(word))
        expanded_text = ' '.join(a)
        return expanded_text
    else:
        return x

In [24]:
df['text']=df['text'].apply(lambda x:Cont2Exp(x))

## Counting and Removing Emails from the dataset

In [25]:
import re

In [26]:
df['emails']=df['text'].apply(lambda x:re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+._-]+)',x))

In [28]:
df['email_Count']=df['emails'].apply(lambda x: len(x))

In [31]:
# Remove emails from the tweets
df['text']=df['text'].apply(lambda x:re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+._-]+)',"",x))

0       []
1       []
2       []
3       []
4       []
        ..
7608    []
7609    []
7610    []
7611    []
7612    []
Name: text, Length: 7613, dtype: object